@import '@/style/_variables.scss';

#MyPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0 16px 150px 16px;
  color: #fff;

  .my-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 51px;

    z-index: 1;

    img {
      width: 25px;
    }

    .my-page-header-text {
      font-weight: 700;
    }

    .my-page-header-cancel {
      font-weight: 500;
    }

    .my-page-header-confirm {
      font-weight: 700;
      color: $main-color;
    }

    &.active {
      padding: 0 10px;

      div {
        cursor: pointer;
      }
    }
  }

  .background-image {
    position: relative;
    margin-top: -85px;

    .background-image-wrapper {
      position: relative;
      width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      }
    }

    img {
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }

    .my-page-profile {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      color: white;
      text-align: center;

      .my-page-profile-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 27px;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        gap: 9px;
      }

      .my-page-profile-icon {
        width: 74px;
        height: 74px;
        border: 1px solid #fff;
        border-radius: 50px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50px;
        }
      }

      .my-page-profile-name {
        display: flex;
        align-items: center;

        .my-page-nickname {
          font-size: 20px;
          font-weight: 600;
        }

        img:first-of-type {
          opacity: 0;
        }

        img {
          width: 25px;
        }
      }

      .my-page-profile-tags {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        justify-content: center;
      }

      .my-page-profile-tag {
        padding: 6.5px 15.5px;
        background-color: $background-color;
        border-radius: 999px;
        font-size: 13px;
        font-weight: 500;
      }

      .main-tag {
        border: 1px solid $main-color;
        color: $main-color;
      }

      .toggle-button {
        position: absolute;
        right: -23px;
        top: 50%;
        transform: translateY(-50%);

        img {
          width: 18px;
        }
      }
    }
  }

  .my-page-info-container {
    display: flex;
    justify-content: space-between;
    padding: 17px 62px;
    margin-top: 12px;
    background-color: #292929;
    border-radius: 25px;

    .my-page-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-number {
        font-size: 14px;
        font-weight: 600;
      }
      &-text {
        font-size: 14px;
        font-weight: 500;
        color: #a1a1a1;
      }
    }
  }

  .my-page-intro {
    padding: 20px 22px;
    margin-top: 12px;
    background-color: #292929;
    border-radius: 25px;

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 13px;
      font-weight: 700;

      button {
        margin-left: auto;

        img {
          width: 25px;
        }
      }
    }

    &-content {
      font-size: 14px;
    }
  }

  .my-page-artworks {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    .my-page-artwork {
      width: 113px;
      border-radius: 15px;

      &-top-image {
        height: 145px;

        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          object-fit: cover;
        }
      }

      &-bottom-text {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 14px 0 17px 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #292929;

        span {
          font-size: 14px;
        }
      }
    }
    .artwork-add {
      background-color: #292929;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
    }
  }

  .my-page-tabbar {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;

    &-icon {
      padding: 10px 45px;
      position: relative; // ::after 가상 요소가 &-icon 내부에서 정확히 위치하도록 설정

      img {
        width: 26px;
      }
    }
  }

  .my-page-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    gap: 9px;

    .my-page-post {
      width: 113px;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .my-page-update-tag-wrapper {
    display: flex;
    flex-direction: column;
    padding: 23px 18px 23px 23px;
    margin-top: 12px;
    border-radius: 25px;
    background-color: #292929;
    gap: 21px;

    .my-page-update-main-tag {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .my-page-update-main-tag-text {
      font-weight: 500;
      font-size: 13px;
      color: $main-color;
    }

    .my-page-update-tag {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .my-page-update-tag-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
